name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  build_and_test_ros2:
    runs-on: ubuntu-22.04
    steps:
      - name: Install ROS
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble
      - name: Build and run tests
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          target-ros2-distro: humble

  # Linters applicable to C++ packages
  ament_lint_cpp:
    # Give each job a different name for better feedback
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-latest
    strategy:
      # We want all linters to run even if one fails
      fail-fast: false
      matrix:
        linter: [cppcheck, cpplint, uncrustify]
    steps:
    - uses: actions/checkout@v3
    - uses: ros-tooling/setup-ros@v0.7
    - uses: ros-tooling/action-ros-lint@v0.1
      with:
        linter: ${{ matrix.linter }}
# jobs:
#   build-and-test:
#     runs-on: ubuntu-22.04
#     steps:
#       - name: Checking out
#         uses: actions/checkout@v2.3.4
#       - name: Building and testing
#         uses: ichiro-its/ros2-ci@v1.0.0
#         with:
#           ros2-distro: humble
#           apt-packages: ros-humble-control-msgs ros-humble-control-toolbox


# jobs:
#   build:
#     runs-on: ubuntu-22.04
#     steps:
#       - uses: actions/checkout@v3
#       - uses: ros-tooling/setup-ros@v0.7
#         with:
#           required-ros-distributions: humble
#       - name: Install dependencies
#         shell: bash
#         run: rosdep install --from-paths . --ignore-src -r -y
#       - name: Build
#         shell: bash
#         run: colcon build --event-handlers console_direct+
#       - name: Test
#         shell: bash
#         run: colcon test
#       - name: Upload test results
#         shell: bash
#         run: colcon test-result --verbose
