name: Clang Format

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  clang-format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format
          pip install colcon-common-extensions ament-lint
      - name: Run clang-format
        run: colcon test
        env:
          BUILD_TESTING: '1'
